html {
  background: #F7F7F7;
}
body {
  font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #666;
  min-width: 960px;
}

h1 {
  font-weight: normal;
  font-size: 20px;
  color: #333;
}

h2 {
  font-weight: normal;
  font-size: 18px;
  color: #0084B4;
}

a:link, a:visited {
  color: #0084B4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper {
  position: relative;
  width: 960px;
  margin: 0 auto;
  padding: 20px 0;
}

#main {
  color: #DEF;
  height: 235px;
  background: url(/assets/img/banner-home.png) repeat-x;
}

#main, div.header, div.header2, div.header3, li.repo {
  -moz-box-shadow:    0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#main h1 {
  text-align: center;
  text-indent: -9999px;  
  margin: 10px 15px 0;
  font-size: 24pt;
  height: 110px;
  background: url(/assets/img/pinax_logo_lg.png) no-repeat top center;
}

#main p {
  text-align: center;
  margin: 5px 20px;
  font-size: 11pt;
}

div.header {
  height: 200px;
  background: #EEE;
}

div.header2 {
  margin-top: 20px;
  background: #333;
}
div.header2 h1 {
  color: #EEE;
}

div.header h1, div.header2 h1, div.header p {
  margin: 10px 15px 0;
}

div.header h1, div.header2 h1 {
  margin-bottom: 10px;
}

div.header p {
  font-size: 13pt;
  margin: 10px 15px 0;
}
div.header ul {
  list-style: disc;
  font-size: 10pt;
  margin: 10px 15px 10px 40px;
}

#num-repos, #num-members {
  font-size: 14px;
  font-weight: bold;
  color: #0084b4;
  line-height: 15px;
}

div.header h1 a {
  font-weight: normal;
  font-size: 12px;
}

#recently-updated-repos {
  margin-left: 15px;
}

#recently-updated-repos li {
  line-height: 1.5;
}

#recently-updated-repos li span {
  display: inline-block;
  padding: 0 1px;
}

#recently-updated-repos li span {
  font-size: 12px;
}

#recently-updated-repos li span.name {
  padding: 0 6px 0 0;
  font-size: 14px;
}

#recently-updated-repos li span.time a,
#recently-updated-repos li span.watchers a,
#recently-updated-repos li span.forks a {
  color: #999;
}

li.repo {
  height: 200px;
}

li.repo > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
}

li.repo a:hover {
  background: #eee;
}

li.repo h2, li.repo h3, li.repo p {
  margin: 10px 15px;
}
iframe.FlattrButton {
  display: block;
  margin: 10px 15px;
}

li.repo h2 {
  margin-bottom: 2px;
  max-width: 160px;
  overflow: hidden;
}

h2.fork {
  background: url(fork.png) no-repeat center left;
  padding: 0 0 0 20px;
}

b {
  font-weight: bold;
}